# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Expo CLI
.expo/
.expo-shared/
web-build/
build/

# TypeScript
dist/
*.tsbuildinfo

# Logs
*.log

# OS/IDE Files
.DS_Store
.idea/
.vscode/

# Fonts ve Statik Dosyalar
*.ttf
*.woff
*.woff2

# Expo Ortam Dosyaları
expo-env.d.ts
"node_modules/" 
"assets/fonts/" 
